<form *ngIf="bankAccount" (ngSubmit)="onSubmit()" #fundsForm="ngForm">
	<div class="form-group">
		<label for="description">Descrição:</label> 
		<input type="text" class="form-control" id="description" required [(ngModel)]="bankAccount.description" name="description" #name="ngModel" value="{{bankAccount.description}}">
	</div>
	<div class="form-group">
		<label for="fundsType">Tipo:</label> 
		<input type="text" class="form-control" id="fundsType" readonly="" [(ngModel)]="bankAccount.fundsType" name="fundsType" #name="ngModel" value="{{EFundsType[bankAccount.fundsType]}}">
	</div>
	<div class="form-group">
		<label for="account">Conta:</label> 
		<input type="text" class="form-control" id="account" [(ngModel)]="bankAccount.account" name="account" value="{{bankAccount.account}}">
	</div>
	<div class="form-group">
		<label for="agency">Agência:</label> 
		<input type="text" class="form-control" id="agency" [(ngModel)]="bankAccount.agency" name="agency" value="{{bankAccount.agency}}">
	</div>
	<div class="form-group">
		<label for="balance">Saldo atual:</label> 
		<input type="text" class="form-control" id="balance" readonly="" value="{{bankAccount.balance | currency:'BRL':true:'1.2-2'}}">
	</div>

	<button type="submit" class="btn btn-success" [disabled]="!fundsForm.form.valid">Salvar</button>
	<button type="button" (click)="onDelete()" class="btn btn-danger">Deletar</button>
</form>


