<h2>Cadastrar Fundo</h2>
<form (ngSubmit)="onSubmit()" #fundsForm="ngForm">
	<div class="form-group">
		<label>Tipo</label>
		<select (click)="onFundsSeleceted($event.target.value)" class="form-control" id="fundsType" required [(ngModel)]="funds.fundsType" name="fundsType">
			<option *ngFor="let option of options" [value]="option" >
				{{fundsTypes[option]}}
			</option>
		</select>
	</div>

	<div class="form-group">
		<label for="description">Descrição</label>
		<input type="text" class="form-control" id="description" required [(ngModel)]="funds.description" name="description" #name="ngModel">
		<div [hidden]="name.valid || name.pristine" class="alert alert-danger">
			Name is required
		</div>
	</div>

	<div *ngIf="fundsTypeSeleceted == fundsTypes['BANK_ACCOUNT']">
		<div class="form-group">
			<label>Agência</label>
			<input type="text" class="form-control" id="agency" [(ngModel)]="bankAccount.agency" name="agency">
		</div>
		<div class="form-group">
			<label>Conta</label>
			<input type="text" class="form-control" id="account" [(ngModel)]="bankAccount.account" name="account">
		</div>
	</div>

	<div *ngIf="fundsTypeSeleceted == fundsTypes['CREDIT_CARD']">
		<div class="form-group">
			<label>Vencimento</label>
			<input type="text" class="form-control" id="maturity" required [(ngModel)]="creditCard.maturity" name="maturity" #maturity="ngModel">
			<div [hidden]="maturity.valid || maturity.pristine" class="alert alert-danger">
				Maturity is required
			</div>
			
		</div>
		<div class="form-group">
			<label>Limite</label>
			<input type="text" class="form-control" id="limitValue" required [(ngModel)]="creditCard.limitValue" name="limitValue" #limitValue="ngModel">
			<div [hidden]="limitValue.valid || limitValue.pristine" class="alert alert-danger">
				Limit is required
			</div>

		</div>
	</div>

	 <button type="submit" class="btn btn-success" [disabled]="!fundsForm.form.valid">Submit</button>
</form>