<div class="">
	<p-schedule [events]="events" [header]="headerConfig" (onViewRender)="loadEvents($event)" locale="pt-br" (onEventClick)="handleEventClick($event)" [eventRender]="eventRender"></p-schedule>
</div>

<p-dialog [(visible)]="displayDialog" modal="modal" width="300" responsive="true">
	<form (ngSubmit)="onPaymentSubmit()" #paymentForm="ngForm">
	    <div class="form-group">
	    	<label for="datePayment" >Vencimento:</label>
	    	<input type="text" class="form-control" id="datePayment" [(ngModel)]="payment.datePayment" name="datePayment" #datePayment="ngModel" value="{{maturity.date | date:'dd/MM/yyyy'}}" class="form-control">
	    </div>
	    <div class="form-group">
	    	<label for="valuePaid">Valor: </label>
	    	<input type="text" class="form-control" id="valuePaid" [(ngModel)]="payment.valuePaid" name="valuePaid" #valuePaid="ngModel" value="{{maturity.value | currency:'BRL':true:'1.2-2'}}" class="form-control">
	    </div>
	    <button type="submit" class="btn btn-success" [disabled]="!paymentForm.form.valid">Pagar</button>
    </form>
</p-dialog>