.navbar-light .navbar-nav .nav-link {
    color: #175422 !important;
}

.navbar {
    background-color: #fae700 !important;
}

.btn-outline-primary {
    color: #175422 !important;
    border-color: #175422 !important;
}

.dropdown-item {
    color: #175422 !important;
}